# Android
.gradle/
build/
app/build/
app/.cxx/
.externalNativeBuild/

# Keystores / Secrets
*.jks
*.keystore

# APK
*.apk

# Android Studio
.idea/
*.iml

# Kotlin
.kotlin/

# Local config
local.properties

# Logs
*.log
ksp-debug.log